<div class="navigation">
  <ul class="primary">
    <li>
      <a href="#">Link 1</a>
      <ul class="secondary">
        <li>
          <a href="#">Link 1a</a>
          <ul class="trinary">
            <li>
              <a href="#">Sublink 1a-1</a>
            </li>
            <li>
              <a href="#">Sublink 1a-2</a>
            </li>
            <li>
              <a href="#">Sublink 1a-3</a>
            </li>
          </ul>
        </li>
        <li>
          <a href="#">Link 1b</a>
          <ul class="trinary">
            <li>
              <a href="#">Sublink 1b-1</a>
            </li>
            <li>
              <a href="#">Sublink 1b-2</a>
            </li>
            <li>
              <a href="#">Sublink 1b-3</a>
            </li>
          </ul>
        </li>
        <li>
          <a href="#">Link 1c</a>
          <ul class="trinary">
            <li>
              <a href="#">Sublink 1c-1</a>
            </li>
            <li>
              <a href="#">Sublink 1c-2</a>
            </li>
            <li>
              <a href="#">Sublink 1c-3</a>
            </li>
          </ul>
        </li>
      </ul>
    </li>

    <li>
      <a href="#">Link 2</a>
      <ul class="secondary">
        <li>
          <a href="#">Link 2a</a>
          <ul class="trinary">
            <li>
              <a href="#">Sublink 2a-1</a>
            </li>
            <li>
              <a href="#">Sublink 2a-2</a>
            </li>
            <li>
              <a href="#">Sublink 2a-3</a>
            </li>
          </ul>
        </li>
        <li>
          <a href="#">Link 2b</a>
          <ul class="trinary">
            <li>
              <a href="#">Sublink 2b-1</a>
            </li>
            <li>
              <a href="#">Sublink 2b-2</a>
            </li>
            <li>
              <a href="#">Sublink 2b-3</a>
            </li>
          </ul>
        </li>
        <li>
          <a href="#">Link 2c</a>
          <ul class="trinary">
            <li>
              <a href="#">Sublink 2c-1</a>
            </li>
            <li>
              <a href="#">Sublink 2c-2</a>
            </li>
            <li>
              <a href="#">Sublink 2c-3</a>
            </li>
          </ul>
        </li>
      </ul>

    </li>


    <li>
      <a href="#">Link 3</a>
      <ul class="secondary">
        <li>
          <a href="#">Link 3a</a>
          <ul class="trinary">
            <li>
              <a href="#">Sublink 3a-1</a>
            </li>
            <li>
              <a href="#">Sublink 3a-2</a>
            </li>
            <li>
              <a href="#">Sublink 3a-3</a>
            </li>
          </ul>
        </li>
        <li>
          <a href="#">Link 3b</a>
          <ul class="trinary">
            <li>
              <a href="#">Sublink 3b-1</a>
            </li>
            <li>
              <a href="#">Sublink 3b-2</a>
            </li>
            <li>
              <a href="#">Sublink 3b-3</a>
            </li>
          </ul>
        </li>
        <li>
          <a href="#">Link 3c</a>
          <ul class="trinary">
            <li>
              <a href="#">Sublink 3c-1</a>
            </li>
            <li>
              <a href="#">Sublink 3c-2</a>
            </li>
            <li>
              <a href="#">Sublink 3c-3</a>
            </li>
          </ul>
        </li>
      </ul>

    </li>

  </ul>
</div>